# ignore everything
*

# except .gitignore
!.gitignore

# and service loop script
!service-loop.py

# Readme
!README.md

# Logging utility functions
!logging.py

# configuration file
!conf.py

# constants file
!contants.py

# Mike's (new TODO merge conf.py into this) config file
!config.py
