# ignore everything
*

# except .gitignore
!.gitignore

# and service loop script
!service-loop.py

# Readme
!README.md

# Logging utility functions
!logging.py
# pi@raspberrypi:~ $ sudo bash -c 'echo heartbeat > /sys/class/leds/led0/trigger'
# pi@raspberrypi:~ $ sudo bash -c 'echo none > /sys/class/leds/led0/trigger'
