# ignore everything
*

# except .gitignore
!.gitignore
# and service loop script
!service-loop.py

# Read,e
!README.md

# pi@raspberrypi:~ $ sudo bash -c 'echo heartbeat > /sys/class/leds/led0/trigger'
# pi@raspberrypi:~ $ sudo bash -c 'echo none > /sys/class/leds/led0/trigger'
